doctype html
<html>
    head
        meta(charset='utf-8')/
        title Index
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="icon" href="https://i.gyazo.com/4eaf863d8759457ccfcbc72ad2f27d4f.png" type="image/png" sizes="16x16">
    body
        <h2> Jugadoras </h2>
            <div>
                each value, index in showplayer
                    <div style="display: inline-flex">
                        <a href="/jugadora/#{value.Numero}" style="margin:1em">
                            <img src="#{value.photo}" width="100" height="130">
                            <input style = "margin:1em" class="btn btn-primary" type="button" onclick="window.location.href=`/jugadora/#{value.Numero}`" value=" #{value.Nombre + ' (' + value.Numero + ')'}" />
                        </a>
                    </div>
            </div>
        hr
        <h2> Media de 5 en ultimos entrenos </h2>
            <div>
                each value, index in critical
                    <div style="display: inline-flex">
                        <a href="/jugadora/#{value.Numero}" style="margin:1em">
                            <img src="#{value.photo}" width="100" height="130">
                            <input style = "margin:1em" class="btn btn-danger" type="button" onclick="window.location.href=`/jugadora/#{value.Numero}`" value=" #{value.Nombre + ' (' + value.Numero + ')'}" />
                        </a>
                    </div>
            </div>
        p 
            <input style = "margin:1em" class="btn btn-primary" type="button" onclick="window.location.href=`/form`" value="Registro nuevo" />
</html>